<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Discover Games</title>
 
</head>
<body>
    <nav>
        <div class="logo-container">
            <a id="brand-title">
                <img src="assets/icons/controller.png" alt="Logo" class="logo">
                <span class="brand-name">GameVerse</span>
            </a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="#" class="active">Games</a>
            <a href="/about" class="About">About</a>

        </div>
        <div class="profile-container dropdown">
            <img src="assets/icons/user.png" alt="Profile" class="profile-icon" id="profile-icon">
            <div class="dropdown-content">
                <a href="/">Logout</a>
            </div>
        </div>
    </nav>

    <main class="main-content">
        <h1>Games</h1>
        <p class="subtitle">Discover endless entertainment and challenge your skills with our diverse selection of games. Play, win, and enjoy every moment!</p>
        <div class="search-filters">
            <div class="search-bar">
                <input type="text" placeholder="Search here.." id="search-input">
            </div>
            <select class="filter-select">
                <option>Filter by : A-Z</option>
            </select>
            <select class="filter-select">
                <option>Category by : All</option>
            </select>
        </div>

        <div class="games-grid">

            <div class="game-card">
                <img src="assets/icons/amongus.png" alt="Among-Us" class="game-image">
                <div class="game-info">
                    <h3 class="game-title">Among Us</h3>
                    <p class="game-category">Desktop / PC / Mobile</p>
                    <a href="https://www.innersloth.com/games/among-us/" class="check-btn">Explore Game</a>
                </div>
            </div>
          
            <div class="game-card">
                <img src="assets/icons/apex-legends.jpg" alt="Apex Legends" class="game-image">
                <div class="game-info">
                    <h3 class="game-title">Apex Legends</h3>
                    <p class="game-category">Desktop / PC</p>
                    <a href="https://www.ea.com/en-gb/games/apex-legends" class="check-btn">Explore Game</a>
                </div>
            </div>

            <div class="game-card">
                <img src="assets/icons/dragonnest.jpg" alt="Valorant" class="game-image">
                <div class="game-info">
                    <h3 class="game-title">Dragon Nest</h3>
                    <p class="game-category">Desktop / PC</p>
                    <a href="https://sea.dragonnest.com/main" class="check-btn">Explore Game</a>
                </div>
            </div>
          
            <div class="game-card">
                <img src="assets/icons/dota.jpg" alt="Dota 2" class="game-image">
                <div class="game-info">
                    <h3 class="game-title">Dota 2</h3>
                    <p class="game-category">Desktop / PC</p>
                    <a href="https://www.dota2.com/home" class="check-btn">Explore Game</a>
                </div>
            </div>

            <div class="game-card">
                <img src="assets/icons/marvel-rivals.png" alt="Marvel Rivals" class="game-image">
                <div class="game-info">
                    <h3 class="game-title">Marvel Rivals</h3>
                    <p class="game-category">Desktop / PC</p>
                    <a href="https://www.marvelrivals.com/" class="check-btn">Explore Game</a>
                </div>
            </div>

            <div class="game-card">
                <img src="assets/icons/minecraft.png" alt="Minecraft" class="game-image">
                <div class="game-info">
                    <h3 class="game-title">Minecraft</h3>
                    <p class="game-category">Desktop / PC / Mobile</p>
                    <a href="https://www.minecraft.net/en-us" class="check-btn">Explore Game</a>
                </div>
            </div>

            <div class="game-card">
                <img src="assets/icons/league.jpg" alt="League" class="game-image">
                <div class="game-info">
                    <h3 class="game-title">League of Legends</h3>
                    <p class="game-category">Desktop / PC</p>
                    <a href="https://www.leagueoflegends.com/en-us/" class="check-btn">Explore Game</a>
                </div>
            </div>

            <div class="game-card">
                <img src="assets/icons/valorant.jpg" alt="Valorant" class="game-image">
                <div class="game-info">
                    <h3 class="game-title">Valorant</h3>
                    <p class="game-category">Desktop / PC</p>
                    <a href="https://playvalorant.com/en-sg/" class="check-btn">Explore Game</a>
                </div>
            </div>

           
        </div>
    </main>
    <footer id="footer">
        <div class="footer-content">
            <p>Jake Maxim O. Elopre</p>
            <p>22-04706@g.batstate-u.edu.ph</p>
            <p>CS-3102</p>
        </div>
    </footer>
    
    <script src="/assets/js/index.js"></script>

</body>
</html>